{% extends "layout.html" %} {% block content %}

<html>

<head>
    <meta charset="utf-8">
    <title>Cabecera fija</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header id="main-header">

        <a id="logo-header" href="#">
            <span class="site-name">FP Libreria</span>
        </a>
        <nav>
            <ul>
                <li><a href="/menu">Index</a></li>
                <li><a href="/tablaEditorial">Tabla Editorial</a></li>
            </ul>
        </nav>
        <!-- / nav -->

    </header>
    <!-- / #main-header -->
</body>

</html>
<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-5tablet is-4-desktop is-3-widescreen">
                    <!-- formulario -->
                    <form action="/registrarEditorial" method="post" class="box">
                        <div class="field">
                            <label for="" class="label">Nombre Editorial</label>
                            <div class="control has.icons-left">
                                <input type="text" name="nombre_editorial" value="" class="input">
                                <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                            </div>
                        </div>
                        <div class="field">
                            <button class="button is-success" onclick="hizoClick()">
                                Registrar Editorial
                            </button>
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </div>

</section>
<script>
    function hizoClick() {
        alert("Editorial Creado");
    }
</script>
{% endblock %}