{% extends "layout.html" %} {% block content %}

<html>

<head>
    <meta charset="utf-8">
    <title>Cabecera fija</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header id="main-header">

        <a id="logo-header" href="#">
            <span class="site-name">FP Libreria</span>
        </a>
        <nav>
            <ul>
                <li><a href="/ ">Salir</a></li>
                <li><a href="/editorial ">Editorial</a></li>
                <li><a href="/autor">Autor</a></li>
                <li><a href="/genero">Genero</a></li>
                <li><a href="/libro">Libros</a></li>
                <li><a href="/favoritos">favoritos</a></li>
            </ul>
        </nav>
        <!-- / nav -->

    </header>
    <!-- / #main-header -->
</body>

</html>
<center>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns ">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen ">
                        <h1 style="background-color: black;">Bienvenido a la Biblioteca</h1>
                        <h3 style="background-color: black;">Biblioteca Fernando Padilla</h3>
                        <br>
                        <iframe width="950" height="534" src="https://www.youtube.com/embed/OE7LsYOlUOY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <img src="/static/imagenes/LibreriaParis.jpeg" alt="">

                    </div>
                </div>
            </div>
        </div>
    </section>
</center>
{% endblock %}